@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sofia+Sans+Extra+Condensed:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(227, 252, 255);
}

/* TEXT */
h1 {
  font-size: 50px;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: rgb(169, 210, 248);
}

h2 {
  font-size: 30px;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: rgb(169, 210, 248);
}

h3 {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: rgb(169, 210, 248);
  font-size: 23px;
}

h4 {
  font-size: 11px;
}

p {
  font-size: 13px;
}

img {
  align-self: center;
}

a {
  text-decoration: none;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 19px;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 30px;
  position: fixed;
  width: 100%;
  background-color: white;
  opacity: 0%;
  transition: opacity 0.5s;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: rgb(169, 210, 248);
  font-size: 23px;
}

#pageOne {
  height: 100vh;
}

.hero {
  width: min(80%, 480px);
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  position: relative;
  margin-top: 40px;
}

.hero-flex-container {
  display: flex;
  gap: 30px;
}

.fish-banner {
  animation: lightRotate 2s ease-in-out infinite alternate;
}

.button-container {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  gap: 20px;
  position: absolute;
  left: 0;
  right: 0;
}

.button-container a {
  border: none;
  background-color: rgb(169, 210, 248);
  color: white;
  text-align: center;
  padding: 10px;
  width: 20%;
  border-radius: 15px;
}

/* ABOUT PAGE */
#pageTwo {
  background-color:rgb(82, 104, 124);
}

.about-container {
  background-color: white;
  width: min(800px, 90%);
  margin: auto;
  
  padding: 25px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.skill {
  align-items: center;
  text-align: center;
}

.about-links {
  display: flex;
  gap: 10px;
}

.about-links a {
  padding: 10px;
  background-color: rgb(169, 210, 248);
  width: 30%;
  border-radius: 15px;
  text-align: center;
  color: white;
}

/* PROJECTS PAGE */

.project-grid {
  display: grid;
  gap: 20px;
}

.project {
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.project-links a {
  padding: 10px;
  background-color:rgb(169, 210, 248);
  color: white;
  font-size: 18px;
  border-radius: 15px;
}

.show {
  opacity: 100%;
}

.contact-container {
  padding: 30px;
  margin-top: 40px;
  background-color: white;
  border-radius: 15px;
}

@keyframes lightRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@media (max-width: 500px) {

  #pageTwo, #pageThree, #pageFour {
    margin-top: 30px;
  }

  .hero-flex-container {
    flex-direction: column;
  }

  .hero-text {
    text-align: center;
  }
}

@media (min-width: 501px) {
  
  .fish-banner {
    margin-left: -90px;
    margin-top: -10px;
  }

  .hero-flex-container {
    align-items: center;
  }

  .project img {
    width: 300px;
    height: 300px
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .skills {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 800px) {
  .about-container {
    display: grid;
    justify-items: center;
  }

  .about-image {
    grid-area: 1;
  }
}

@media (min-width: 1300px) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}