@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Sofia+Sans+Extra+Condensed:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

/* TEXT */
h1 {
  font-size: 50px;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: rgb(169, 210, 248);
}

h2 {
  font-size: 30px;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: rgb(169, 210, 248);
}

h4 {
  font-size: 15px;
}

p {
  font-size: 18px;
}

img {
  align-self: center;
}

a {
  text-decoration: none;
}


.outer-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 30px;
  position: fixed;
  width: 100%;
  background-color: white;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: rgb(169, 210, 248);
  font-size: 23px;
}


.one {
  background-color: rgb(227, 252, 255);
}

.two {
  background-color: rgb(227, 252, 255);
}

.three {
  background-color: rgb(227, 252, 255);
  flex-direction: column;
}

.four {
  background-color: rgb(227, 252, 255);
}


















.hero {
  width: min(80%, 480px);
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  position: relative;
  margin-top: 40px;
}

.hero-flex-container {
  display: flex;
  gap: 30px;
}

.fish-banner {
  animation: lightRotate 2s ease-in-out infinite alternate;
}

.button-container {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  gap: 20px;
}

.button-container a {
  border: none;
  background-color: rgb(169, 210, 248);
  color: white;
  text-align: center;
  padding: 10px;
  width: 20%;
  border-radius: 15px;
}

.about-container {
  background-color: white;
  width: 100%;
  padding: 40px;
}

.coding-container {
  background-color: white;
  width: 100%;
  padding: 40px;
}

.art-container {
  background-color: white;
  width: 100%;
  padding: 40px;
}



.project {
  width: 125px;
  height: 125px;
  background-color: white;
}

.selected {
  width: 150px;
  height: 150px;
}

.project-thumbnails {
  display: flex;
  gap: 20px;
  align-items: center;
}





@keyframes lightRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@media (max-width: 500px) {
  .hero-flex-container {
    flex-direction: column;
  }

  .hero-text {
    text-align: center;
  }
}

@media (min-width: 501px) {
  .fish-banner {
    margin-left: -90px;
    margin-top: -10px;
  }

  .hero-flex-container {
    align-items: center;
  }
}